In [2]:
# Import Dependencies
import pandas as pd

In [4]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
frame_shop = [{"Frame":"Ornate","Price":15.0,"Sales":100},
              {"Frame":"Classical","Price":12.5,"Sales":200},
              {"Frame":"Mordern","Price":10.0,"Sales":150},
              {"Frame":"Wood","Price":5.0,"Sales":300},
              {"Frame":"Cardboard","Price":1.0}
             ]
frame_shop_df = pd.DataFrame(frame_shop)
frame_shop_df

       Frame  Price  Sales
0     Ornate   15.0  100.0
1  Classical   12.5  200.0
2    Mordern   10.0  150.0
3       Wood    5.0  300.0
4  Cardboard    1.0    NaN

In [6]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data
art_gallery = pd.DataFrame({
                "Painting":["Mona Lisa (Knockoff)","Van Gogh (Knockoff)","Starving Artist","Toddler Drawing"],
                "Popularity":["Very Popular","Popular","Average","Not Popular"],
                "Price":[25,20,15,1]
            })
art_gallery

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     15
3       Toddler Drawing   Not Popular      1